html,
body {
  height: 100%;
  width: 100%;
}

#overlay {
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
}

.alert-success {
  border-radius: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.jumbotron .container {
  display: flex;
  flex-direction: column;
}

.jumbotron h3 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.col-lg-6 {
  margin: auto;
}

.error-message {
  color: #a94442;
}
