.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.jumbotron .container {
  display: flex;
  flex-direction: column;
}

.jumbotron h3 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  margin-top: 20px;
}

.error-message {
  color: #a94442;
}
